<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
    <system>
        <tab id='julio' translate='label' sortOrder='-100'>
            <label>Julio</label>
        </tab>
    </system>
</config>